 <div class="LoginWindowContainer">
     <div class="LoginWindowHeader">
         {{loginWindowContent}}         
     </div>  
     <button id="login" type="" (click)="btnOnClick()">Login</button>  
</div>