:root
{
    --LoginWindowContainerBackground : deepskyblue;
    --LoginWindowHeaderBackground : #414550;
}
.LoginWindowContainer
{   
    background: var(--LoginWindowContainerBackground);
    text-align: center; 
}
.LoginWindowHeader
{
    height: 50px;
    background: var(--LoginWindowHeaderBackground);
    color: white;
}
html,body,div
{
    height: 100%;
}